.header-container {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
    background-color: #0587a1; /* Teal */
    color: #ffffff; /* Cream */
}

.nav-left a, .nav-right {
    margin: 0 10px;
    color: #ffffff; /* Cream */
    text-decoration: none;
    font-size: 1.4em;
}

.nav-left a:hover, .nav-right:hover {
    color: #0a9396; /* Teal */
}

.site-title {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}