.main-content-container {
    padding: 20px;
    background-color: #f9fafb; 
    color: #334155; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    word-wrap: break-word;
}

.table-container {
    max-width: 100%;
    min-height: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a4c1c3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    overflow-x: auto; 
}

.home-header {
    background-color: #07741E; 
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 5px;
    border: none; 
    font-weight: bold;
}

table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    font-weight: normal; 
    background: #fff;
}

th, td {
    padding: 8px; 
    font-size: 0.6em; 
    border-bottom: 1px solid #e2e8f0; 
}

thead {
    background-color: #07741E;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f1f5f9; /* Lighter shade for even rows */
}

tr:hover {
    background-color: #eff6ff; /* hover effect */
}

thead tr:hover {
    background-color: inherit; /* Keep same color for thead upon hover */
}

@media screen and (max-width: 600px) {
    th, td {
        font-size: 0.9em;
        padding: 8px;
    }
}

.form-container {
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px;
}

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    background-color: white;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* animated border */
   input:focus ~ .input-border {
    width: 100%;
   }


.load-more, .add-player {
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 1em; 
    cursor: pointer; /* Cursor changes to pointer */
    transition: background-color 0.3s; 
    text-align: center; 
    display: inline-block; 
    margin: 5px 0;
}

.load-more:hover, .add-player:hover {
    background-color: #0056b3; /* Darker shade for hover */
}
