.main-content-container {
    padding: 20px;
    background: url('../components/photos/AI-nfl-bg.png') no-repeat center center fixed; 
    background-size: cover;
    background-color: #a4c1c3;
    color: #334155;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 1080px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.compare-title {
    align-self: flex-start; /* Align title to the top left */
    background-color: #07741E;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 10px; 
    margin-left: 20px; 
}

.comparison-row {
    width: 100%; 
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.player-comp-box1 {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    min-width: 500px;
}
.player-comp-box2 {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    min-width: 500px;
}

.player-comp-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.statbar-container {
    margin-top: 20px; 
    width: 100%; 
    display: flex; 
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    gap: 10px; /* Space between each stat bar row */
}

.statbar-row {
    display: flex; 
    align-items: center; 
    width: 100%; 
}

.statbar-row label {
    flex: 0 0 150px; /* Fixed width for labels */
    text-align: left; 
    margin-right: 10px; 
    font-weight: bold;
}

.statbar {
    flex-grow: 1; 
    height: 20px; 
    background-color: #e0e0e0; /* Unfilled bar area */
    border-radius: 5px; 
    position: relative; 
    overflow: hidden;
    border-color: #334155;
    border: 2px solid black;
    box-sizing: border-box;
}

.statbar::after {
    content: '';
    display: block;
    height: 100%;
    background-color: #4caf50; /* Filled bar color */
    width: var(--bar-width);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-out; /* Transition for bar width */
}