.team-builder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #c16e10; /* White background like paper */
    border: 1px solid #ccc; /* Border for paper-like appearance */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    border-radius: 10px; /* Slightly rounded corners for the paper */
    max-width: 600px; /* Adjust width as needed */
    margin: auto;
    margin: 30px 45px;
}

.roster {
    width: 100%;
}

.roster-slot {
    display: flex;
    align-items: center; /* Align items vertically */
    background-color: #f8f8f8; /* Slightly off-white for each slot */
    border-bottom: 1px solid #ddd; /* Border between slots */
    width: 93%;
    padding: 10px 20px;
}

.profile-photo {
    height: 50px; /* Adjust size as needed */
    width: 50px;
    background-color: #eee; /* Placeholder color, replace with actual image */
    border-radius: 50%; /* Circular profile photo */
    margin-right: 15px; /* Space between photo and player info */
}
