.team-builder-wrap {
    background: url('../components/photos/Background1.webp') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.team-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border: 3px solid #333333;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: auto;
    margin: 45px 45px;
    flex: 1; /* Take up remaining space */
}

.roster-title {
    color: #333333; 
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #333333;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 60px;
    margin-bottom: 20px;
}

.roster {
    width: 100%;
    border: 2px solid #333333;
}

.roster-slot {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.roster-slot:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Very light grey for hover */
}

.profile-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover; /* Maintain the src photo aspect ratio */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team-report-sheet {
    flex: 0 0 50%; 
    height: 50%; 
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 20px; 
    border: 2px solid #333; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    text-align: center; /* Horizontally centers text */
    margin: 45px 15px;
}

.report-content {
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  width: 100% - 40px; /* Adjust as needed */
  min-height: 200px;
  text-align: left;
  padding: 15px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.report-text {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;

}

.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}
  
.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}
  
@keyframes moving {
  50% {
    width: 100%;
  }
  
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}