.trade-content-container {
    padding: 20px;
    background: url('../components/photos/AI-nfl-bg2.webp') no-repeat center center fixed; 
    background-size: cover;
    background-color: #a4c1c3;
    color: #334155;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 1080px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trade-analysis-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .trade-column {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black; 
    border-radius: 4px;
    width: 300px;
    margin: 0 15px; /* Spacing between the two columns */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }

  .trade-list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .trade-column-header {
    background-color: #d02525; 
    color: #fff; 
    padding: 10px;
    text-align: center;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    font-weight: bold;
  }
  
  .trade-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .trade-list-item {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  /* Last child in the list should not have a bottom border */
  .trade-list-item:last-child {
    border-bottom: none;
  }
  
  .player-info {
    flex-grow: 1; /* Ensure the player info takes up the remaining space */
    padding-left: 10px;
  }

.feedback-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: black;
}